<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Adm. Escolar</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Adm._Escolar.styles.css" asp-append-version="true" />
</head>
<body class="background">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-black border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-white fst-italic fw-bold" asp-area="" asp-controller="Alumns" asp-action="Index">Adm. Escolar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 bg-black">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Maintenance List
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="nav-link text-black" asp-area="" asp-controller="Alumns" asp-action="Index">Alumns Mant.</a>
                                </li>
                                <li>
                                    <a class="nav-link text-black" asp-area="" asp-controller="Teachers" asp-action="Index">Teachers Mant.</a>
                                </li>
                                <li>
                                    <a class="nav-link text-black" asp-area="" asp-controller="AdmEmployee" asp-action="Index">Adm. Employee Mant.</a>
                                </li>
                                <li>
                                    <a class="nav-link text-black" asp-area="" asp-controller="Classroom" asp-action="Index">Classroom Mant.</a>
                                </li>
                                <li>
                                    <a class="nav-link text-black" asp-area="" asp-controller="Province" asp-action="Index">Province Mant.</a>
                                </li>
                                <li>
                                    <a class="nav-link text-black" asp-area="" asp-controller="Area" asp-action="Index">Area Mant.</a>
                                </li>
                                <li>
                                    <a class="nav-link text-black" asp-area="" asp-controller="Department" asp-action="Index">Department Mant.</a>
                                </li>
                            </ul>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Adm. Escolar - Elian Báez
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
