@using AdmEscolar.Business.ViewModels.Province
@model SaveProvinceViewModel


@{
    ViewData["Title"] = "Delete";
}

<div class="container-fluid">

    <form method="post" asp-controller="Province" asp-action="DeletePost">

        <div class="card col-8 offset-2">
            <div class="card-header bg-black text-white">
                <h4 class="text-center fst-italic">Removing the Province: @Model.Description</h4>
            </div>
            <div class="card-body">
                <h5 class="fst-italic">Are you sure you want remove @Model.Description of the Province List?</h5>
            </div>
            <div class="card-footer">
                <div>
                    <button type="submit" class="btn btn-outline-danger">Remove</button>
                    <a asp-controller="Province" asp-action="Index" class="btn btn-outline-warning">Back</a>
                </div>
            </div>
        </div>

        <input asp-for="Id" type="hidden">

    </form>
</div>


