@using AdmEscolar.Business.ViewModels.Departments
@model SaveDepartmentViewModel


@{
    var CreateMode = Model.Id == 0 ? true : false;
    ViewData["Title"] = "SaveDepartment";
}

<div class="container-fluid">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header bg-primary text-white text-center">
                <h4>@(CreateMode ? "Creating a new Department" : $"Editing Department: {Model.Description}")</h4>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="Department" asp-action="@(CreateMode ? "Create" : "Edit")">

                    <div class="mb-3">
                        <label asp-for="Description" class="form-label">Desciption</label>
                        <input asp-for="Description" class="form-control" type="text" />
                    </div>

                    <input asp-for="Id" type="hidden" />

                    <div class="mt-3">
                        <button type="submit" class="btn btn-outline-primary float-lg-end">@(CreateMode ? "Create Department" : "Edit Department")</button>
                        <a asp-controller="Department" asp-action="Index" class="btn btn-outline-warning">Back</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


